# OpenTelemetry Environment Variable Specification
# https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/

# github.com/newrelic/go-agent/v3@v3.15.1/newrelic/config_options.go
NEW_RELIC_APP_NAME=fib
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_LICENSE_KEY=...
NEW_RELIC_LOG=stdout
NEW_RELIC_LOG_LEVEL=info
